#heroSection {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* For verticaly center alignment */
}

#heroMain {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
    gap: 2rem;
}

#heroImage {
    width: 60vmin;
    height: 70vmin;
    border-radius: 25px;
    border: none;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText h1 {
    font-size: 2.5rem;
    padding-bottom: 3rem;
}

.heroText p {
    font-size: 1.25rem;
}

#heroBtn {
    margin-top: 2rem;
    width: fit-content;
}

@media (max-width: 800px) {
    #heroMain {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: center;
    }

    .heroText h1 {
        font-size: 1.5rem;
        padding-bottom: 2rem;
    }

    .heroText p {
        font-size: 1rem;
    }
}